body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.arrow_r_in{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent transparent transparent #333;
    position:absolute;
    top:20%;
    right:-30px;
}

.arrow_r_out{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent transparent transparent #fff;
    position:absolute;
    top:20%;
    right:-29px;
}

.my .arrow_r_in{
    border-color:transparent transparent transparent #E6CAFF;
}
.my .arrow_r_out{
    border-color:transparent transparent transparent #E6CAFF;
}

.arrow_l_in{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent #333 transparent  transparent ;
    position:absolute;
    top:20%;
    left:-30px;
}

.arrow_l_out{
    width:0px;
    height:0px;
    border-width:15px;
    border-style:solid;
    border-color:transparent #fff transparent transparent ;
    position:absolute;
    top:20%;
    left:-29px;
}

.tool{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
.toolbar{
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    float: left;
    height: 315px;
    width: 100%;

}

.ad{display: none;}

.history{
    height: 80%;
    width: 100%;
    background-color: 	Lavender;
}

.msg{
    font-size: 16px;
    max-width:350px;
    position:relative;
    border: solid 1px #333;
    margin:15px;
    padding:12.5px;
    word-break: break-all;
    border-radius: 5px;
    background-color: mintcream;
    
}


#roomname{
    vertical-align: middle;
    height: 30px;
    background-color:#6e45e2;
    text-align: center;
}

#chatroom p {
    text-align: center;
    vertical-align: middle;
    color: white;;
}

.chatting{
    width: 100%;
    height: 85%;
    overflow-y: auto;
    background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
}

.chat{
    width: 100%;
    height: 600px;
    float: right;

}

.my{
    background-color:#E6CAFF;
    border-radius: 5px;
    border: none;
}

.right{
    justify-content: end;
}

.friend{
    height: 250px;
    width: 100%;
    overflow-y:scroll;
}

.myfriend{
    border: none;
    border-radius: 5px;
    background-color:2px solid thistle;
    margin-top: 2px;
}

.btn{
    border: none;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
}

.bubble{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color:rgba(255, 255, 255, 0); 
}

.square{
    margin-top: 5px;
    margin-bottom: 5px;

}

.row{
    width: 100%;
}

.me{
    float:right; 
    justify-content: right;
    border-radius:5px;
}

.txtinput{
    height: 10%;
    width: 100%;
}

#search{
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
}
#search:hover{
    color: slateblue;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}
#inputbox{
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 80%);
}
#txt{
    width: 92%;
    height: 100%;
    text-align: left;
    border-radius:5px;
    margin-top: 2px;
    margin-left: 1%;
}

#myFriend{
    width: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

@media(min-width :550px){
    .sm-50{width: 50%;}
    .friend{height: 455px;}
    .toolbar{height: 600px;}
    .ad{display: block;}

}

@media (min-width :900px){
    .bg-30{width: 30%;}
    .bg-70{width: 70%;}
    .friend{height: 455px;}
    .toolbar{height: 600px;}
    .ad{display: block;}
}