body{
    height: 600px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 24%, #ffc8a9 49%, #a981bb 74%, #3b41c5 100%);
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    
}

.read{
   height: 5px;
   width: 5px;
   background-color: orangered;
   border-radius: 50%;
   display: inline-block;
}

.btn{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: text;
    border: none;
    background-color:whitesmoke;
    padding: 8px;
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
}
.btn2{
    padding: 12px;
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 420px;
}

.btn3{
    padding: 12px;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    color: #FF5151;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 420px;
}

.btn2:hover{
    background-color: white;
    color: cornflowerblue;
}

.btn3:hover{
    background-color: salmon;
    color: white;
}
.cover{
    width: 100%;
    background-color: rgb(77, 101, 241);
    text-align: center;
    margin-top: -1%;
}
.method{
    margin-top: 20px;
    float: right;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    margin-left: auto;

}
.photo{
    width: 100%;
    overflow: hidden;
    margin-left: 5px;

}
.pictures{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 10px;
}
#photo{
    height: 100%;
    text-align: center;
    overflow: hidden;

}

label{
    margin: 10px;
}
input[type="email"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
#login{
    text-align: center;
    color: midnightblue;
}

#inputemail{
    border-radius: 5px;
}

#passwd{
    border-radius: 5px;
}

span{
   display:inline-block;
}
#Circle{
   background-color:#22304D;
   background:linear-gradient(to bottom, #22304D,#5E7B9B);
   width:300px;
   height:300px;
   border-radius:100%;
   margin-top: 10px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   z-index: 1;
   overflow:hidden;
}
#Circle #cont{
   background-color:transparent;
   width:300px;
   height:300px;
   border-radius:100%;
   margin:0 auto;
   box-shadow:inset 0 0 100px black;
   
}
#Circle #cont .top{
   height:150px;
   position:relative;
   background-color:transparent;
   border-top-left-radius:540px;
   border-top-right-radius:540px;
   
}
.bottom{
   display: inline-block;
   position:relative;
   margin-top:234px;
   opacity:0.6;
   filter: blur(2px);
   transform:scaleY(-1);
   
}
.floor{
   background-color:#1E2D49;
   width:280.8px;
   margin-left:9.6px;
   position:absolute;
   height:12px;
   margin-top:192px;
   z-index:0;
}
.floor::after{
   content:"";
   background-color:#1E2D49;
   width:120px;
   height:30px;
   position:absolute;
   transform:rotateX(45deg);
   margin-top:-18px;
   margin-left:-1.8px;
   border-radius:90% 100% 0 0;
}

.moon{
   background-color:white;
   width:28.8px;
   height:28.8px;
   z-index:2;
   border-radius:100%;
   position:absolute;
   margin-left:78px;
   margin-top:108px;
   box-shadow:0 0 3px white, 0 0 6px #1E2D49, 0 0 54px white;
}
.stars{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
.stars {
  background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.mill{
   background-color:#1E2D49;
   width: 30px;
   height: 84px;
   transform: perspective(7.2px) rotateX(3deg);
   position:absolute;
   z-index:3;
   margin-top:90px;
   margin-left:198px;
}
.mill::before{
   content:"";
   background-color:#FDC500;
   width:12px;
   height:12px;
   position:absolute;
   margin-left:9px;
   margin-top:21px;
}
.mill::after{
   content:"";
   background-color:#FDC500;
   width:12px;
   height:15px;
   position:absolute;
   margin-left:9px;
   margin-top:42px;
}
.dome{
   background-color:#1E2D49;
   width:21px;
   height:21px;
   position:absolute;
   transform-origin: 0 100%;        
   transform: rotate(45deg);
   overflow:hidden;
   margin-left:198px;
   margin-top:75px;
   z-index:4;
}
.fan{
   background-color:#37475E;/*37475E */
   width:6px;
   height:6px;
   border-radius:100%;
   position:absolute;
   margin-top:93px;
   margin-left:210px;
   z-index:7;
   animation-name:rotate_fan;
   animation-duration:6s;
   animation-iteration-count:infinite;
}
.fan_blade1, .fan_blade2, .fan_blade3, .fan_blade4{
   background-color:#37475E;
   width:2.4px;
   height:36px;
   position:absolute;
   z-index:6;
   margin-left:21px;
   margin-top:-16.8px;
   border-left:0.9px solid black;
   border-top:0.6px solid black;
   transform:rotate(90deg);
}
.fan_blade2{
   transform:rotate(180deg);
   margin-left:0.6px;
   margin-top:3px;
}
.fan_blade3{
   transform:rotate(360deg);
   margin-left:1.8px;
   margin-top:-36px;
}
.fan_blade4{
   transform:rotate(270deg);
   margin-top:-16.8px;
   margin-left:-18px;
}
.fan_blade1::before, .fan_blade2::before, .fan_blade3::before, .fan_blade4::before{
   content:"";
   background-color:transparent;
   width:12px;
   height:27px;
   margin-left:3px;
   background-size: 6px 6.6px;
   background-image: linear-gradient(to left, gray 2px, transparent 1px), linear-gradient(to bottom, gray 2px, transparent 1px), linear-gradient(to top, gray 1px, transparent 0px);
   position:absolute;
}
.tree1, .tree2, .tree3{
   background-color:transparent;
   width:18px;
   height:24px;
   position:absolute;
   margin-left:6px;
   margin-top:-48px;
   z-index:9;
   width:0;
   height:6px;
   border-left: 6px solid transparent;
   border-right: 6px solid transparent;
   border-bottom: 42px solid #1E2D49;
}
.tree2{
   margin-left:18px;
   transform:rotate(10deg);
}
.tree3{
   margin-left:36px;
}
.tree3::after{
   content:"";
   background-color:#1E2D49;
   width:24px;
   height:30px;
   position:absolute;
   margin-left:-10.8px;
   margin-top:-6px;
   border-radius:100%;
}
@keyframes rotate_fan{
   from{
      
   }
   to{
      transform:rotate(360deg);
   }
}


  @media (min-width :768px){
    .sm-30{width: 28%;}
    .sm-70{width: 68%;}
    .method{height: 450px; width: 250px;}
    .pictures{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: auto;
    }
    #email{margin-top: 10%;}
    #Circle{
      background-color:#22304D;
      background:linear-gradient(to bottom, #22304D,#5E7B9B);
      width:500px;
      height:500px;
      border-radius:100%;
      margin-top: 10px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      z-index: 1;
      overflow:hidden;
   }
   #Circle #cont{
      background-color:transparent;
      width:500px;
      height:500px;
      border-radius:100%;
      margin:0 auto;
      box-shadow:inset 0 0 100px black;
      
   }
   #Circle #cont .top{
      height:250px;
      position:relative;
      background-color:transparent;
      border-top-left-radius:900px;
      border-top-right-radius:900px;
      
   }
   .bottom{
      display: inline-block;
      position:relative;
      margin-top:390px;
      opacity:0.6;
      filter: blur(2px);
      transform:scaleY(-1);
      
   }
   .floor{
      background-color:#1E2D49;
      width:468px;
      margin-left:16px;
      position:absolute;
      height:20px;
      margin-top:320px;
      z-index:0;
   }
   .floor::after{
      content:"";
      background-color:#1E2D49;
      width:200px;
      height:50px;
      position:absolute;
      transform:rotateX(45deg);
      margin-top:-30px;
      margin-left:-3px;
      border-radius:90% 100% 0 0;
   }
   
   .moon{
      background-color:white;
      width:48px;
      height:48px;
      z-index:2;
      border-radius:100%;
      position:absolute;
      margin-left:130px;
      margin-top:180px;
      box-shadow:0 0 5px white, 0 0 10px #1E2D49, 0 0 90px white;
   }
   .stars{
     position:absolute;
     top:0;
     left:0;
     right:0;
     bottom:0;
     width:100%;
     height:100%;
     display:block;
   }
   .stars {
     background:url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
     z-index:0;
   }
   
   .mill{
      background-color:#1E2D49;
      width: 50px;
      height: 140px;
      transform: perspective(12px) rotateX(3deg);
      position:absolute;
      z-index:3;
      margin-top:150px;
      margin-left:330px;
   }
   .mill::before{
      content:"";
      background-color:#FDC500;
      width:20px;
      height:20px;
      position:absolute;
      margin-left:15px;
      margin-top:35px;
   }
   .mill::after{
      content:"";
      background-color:#FDC500;
      width:20px;
      height:25px;
      position:absolute;
      margin-left:15px;
      margin-top:70px;
   }
   .dome{
      background-color:#1E2D49;
      width:35px;
      height:35px;
      position:absolute;
      transform-origin: 0 100%;        
      transform: rotate(45deg);
      overflow:hidden;
      margin-left:330px;
      margin-top:125px;
      z-index:4;
   }
   .fan{
      background-color:#37475E;/*37475E */
      width:10px;
      height:10px;
      border-radius:100%;
      position:absolute;
      margin-top:155px;
      margin-left:350px;
      z-index:7;
      animation-name:rotate_fan;
      animation-duration:6s;
      animation-iteration-count:infinite;
   }
   .fan_blade1, .fan_blade2, .fan_blade3, .fan_blade4{
      background-color:#37475E;
      width:4px;
      height:60px;
      position:absolute;
      z-index:6;
      margin-left:35px;
      margin-top:-28px;
      border-left:1.5px solid black;
      border-top:1px solid black;
      transform:rotate(90deg);
   }
   .fan_blade2{
      transform:rotate(180deg);
      margin-left:1px;
      margin-top:5px;
   }
   .fan_blade3{
      transform:rotate(360deg);
      margin-left:3px;
      margin-top:-60px;
   }
   .fan_blade4{
      transform:rotate(270deg);
      margin-top:-28px;
      margin-left:-30px;
   }
   .fan_blade1::before, .fan_blade2::before, .fan_blade3::before, .fan_blade4::before{
      content:"";
      background-color:transparent;
      width:20px;
      height:45px;
      margin-left:5px;
      background-size: 10px 11px;
      background-image: linear-gradient(to left, gray 2px, transparent 1px), linear-gradient(to bottom, gray 2px, transparent 1px), linear-gradient(to top, gray 1px, transparent 0px);
      position:absolute;
   }
   .tree1, .tree2, .tree3{
      background-color:transparent;
      width:30px;
      height:40px;
      position:absolute;
      margin-left:10px;
      margin-top:-80px;
      z-index:9;
      width:0;
      height:10px;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 70px solid #1E2D49;
   }
   .tree2{
      margin-left:30px;
      transform:rotate(10deg);
   }
   .tree3{
      margin-left:60px;
   }
   .tree3::after{
      content:"";
      background-color:#1E2D49;
      width:40px;
      height:50px;
      position:absolute;
      margin-left:-18px;
      margin-top:-10px;
      border-radius:100%;
   }
}

@media (min-width :900px){
    .method{height: 450px; width: 250px; ;margin-right:5%;}
    
}

@media (min-width :1000px){
    .bg-20{width: 18%;}
    .bg-80{width: 78%;}
    .method{height: 450px;width:250px;margin-right: 10%;}
    .pictures{
        width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2.5%;
        margin-bottom: auto; 
        
    }
    #email{margin-top: 10%;}
    #Circle{display: block;}
}